extends layout

block content
  h1 #{title}: #{author.name}
  p #[strong 享年:] #{author.lifespan}
  
  if author_books.length
  
    p #[strong 删除以下书籍之后才能删除该作者]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 书籍
    
      dl
      each book in author_books
        hr
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

  else
    p #[strong 你确定要删除该作者吗？]
    
    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='authorid', required='true', value=author._id )

      button.btn.btn-primary(type='submit') 删除