extends layout

block content
	h1 ID: #{bookinstance._id}
	p #[strong 书名：] 
		a(href=book.url) #{book.title}
	p #[strong 出版社：] #{bookinstance.imprint}
	p #[strong 状态：] 
		if bookinstance.status == "可供借阅"
			span.text-success #{bookinstance.status}
		else if bookinstance.status == "馆藏维护"
			span.text-danger #{bookinstance.status}
		else 
			span.text-warning #{bookinstance.status}
	if bookinstance.status != "可供借阅"
		p #[strong 截至日期：] #{bookinstance.due_back_formatted}

	hr
	p
		a(href=bookinstance.url+"/delete") 删除副本
	p
		a(href=bookinstance.url+"/update") 更新副本